PORT=5050

POSTGRES_DB=chorapp
POSTGRES_USER=chorapp
POSTGRES_PASSWORD=
POSTGRES_URL=
DATABASE_URL=postgresql://user:password@host:5432/db?schema=public

MAIL_USERNAME=
MAIL_PWD=
MAIL_HOST=
MAIL_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=1d

PASSWORD_RESET_TOKEN_TTL_MINUTES=60